<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		
			<dependentAssembly>
				<assemblyIdentity name="Calc" publicKeyToken="df8a4b6adb064b6d" culture="neutral" />
				
				<bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0"/>
				
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
