
@{
    ViewData["Title"] = "addnum";
}

<h1>addnum</h1>

@using (Html.BeginForm())
{

    <h3>A   = @ViewBag.a  </h3>
    <h3>B   = @ViewBag.b   </h3>
    <h3>Ans = @ViewBag.answer   </h3>
}