
@{
    ViewData["Title"] = "user_registration";
}

<h1>user_registration</h1>

FirstName :-
<input type="text" name="FirstName" />
<br />
FirstName :-
<input type="text" name="LastName" />
<br />
password :-
<input type="password" name="password" />
<br />
Confirm_password :-
<input type="password" name="re_password" />
<br />
<input type="submit" name="submit" />

