
@{
    ViewData["Title"] = "error404";
}

    <div class="container">
        <h1>404 Not Found</h1>
        <p>We're sorry, this resource not found</p>
        <a href="/mystories" class="btn red">Go to mystories</a>
    </div>
