@model Users
<div class="container">

    @if (ViewBag.allstories != null  )
    {
        <h5>
            Here @Model.firstname @Model.lastname's Blogs
        </h5>
        <table class="striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var story in ViewBag.allstories)
                {

                    @if (Model.email == story.userId && story.status == 0)
                    {
                        <tr>
                            <td><a href="/home/show/@story.Id">@story.title</a></td>
                            <td>@story.createdat</td>
                            <td>

                                @if (story.status == 0)
                                {
                                    <span class="dash-status">
                                        Public
                                    </span>
                                }
                                else
                                {
                                    <span class="dash-status">
                                        Private
                                    </span>

                                }
                            </td>
                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h5>
            You have not created any story
        </h5>

    }

</div>

