@model blogging.viewmodels.UserCreateViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div style="background: #ebfffe;">
    <section>
        <h1 class="text-center text-capitalize">Registration form</h1>
        <div class="container" style="background: #fff;border-radius: 2px;border-width: 2px;box-shadow: 0px 0px 1px 0px;">
            <form asp-action="registration" enctype="multipart/form-data" asp-controller="home" method="post" id="regform">
                <div class="form-group">
                    <p>
                        <strong>FirstName&nbsp;</strong>
                        <span class="text-danger">*</span>
                    </p>
                    <input class="form-control" type="text" asp-for="firstname" placeholder="Enter FirstName" required>
                </div>
                <div class="form-group">
                    <p><strong>LastName&nbsp;</strong><span class="text-danger">*</span></p>
                    <input class="form-control" type="text" asp-for="lastname" placeholder="Enter LastName" required>
                </div>
                <div class="form-group">
                    <p><strong>Email&nbsp;</strong><span class="text-danger">*</span></p>
                    <input class="form-control" type="email" asp-for="email" placeholder="user@domain.com" required>
                </div>
                <div class="form-group">
                    <p><strong>Password&nbsp;</strong><span class="text-danger">*</span></p>
                    <input class="form-control" id="password" type="password" asp-for="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <p><strong>Confirm Password</strong><span class="text-danger">*</span></p>
                    <input class="form-control" id="repassword" asp-for="repassword" type="password"  placeholder="Confirm password" required>
                </div>
                <div class="form-group">
                    <!-- Start: Bootstrap Image Uploader --><p><strong>Your Picture </strong><span class="text-danger">*</span></p>
                    <div class="file">
                        <!-- Upload image input-->
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm ">
                            <input id="upload" asp-for="photo" type="file" onchange="readURL(this);" class="form-control border-0" required>
                            <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                            <div class="input-group-append">
                                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                            </div>
                        </div>
                        <p class="font-italic text-dark text-center">The image uploaded will be rendered inside the box below.</p>
                        <div class="image-area mt-4 text-dark"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" width=200></div>
                        <div class="col d-none">
                            <p><strong>URL</strong><span class="text-danger">*</span></p>
                            <input id="urllink" name="url" type="url" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="form-group justify-content-center d-flex">
                    <div id="submit-btn">
                        <div class="form-row"><button class="btn btn-primary btn-light m-0 rounded-pill px-4" type="submit" style="min-width: 500px;">Submit</button></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

@if (ViewBag.post == "1")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @if(ViewBag.pass == "0")
    {
        <script>
            swal("","password and confirm password not match","error");
        </script>
    }
    @if(ViewBag.already == "1")
    {
       <script>
           swal("", "You have already registered", "error");
       </script>
    }

    @if(ViewBag.done == "1")
    {
        <script>
            swal("Great", "Registration done successfully", "success");
        </script>
    }
}